<!DOCTYPE html>
<html lang="id">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>2bidy Video Downloader</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'vendor/simple-line-icons/css/simple-line-icons.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename = 'css/landing-page.min.css')}}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/">2bidy</a>
      <a class="btn btn-primary" "nav-link" href="about">About Us</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        
        <div class="col-xl-9 mx-auto">
        <h1 class="mb-4">Download Video Favoritmu Disini!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/download" method = "POST">
            <div class="form-row">             
              <div class="col-12 col-md-25 mb-2 mb-md-0 mx-auto">
              <input for = "link" type= "text" id = "link" name = "link"  class="form-control form-control-lg"
               placeholder="Masukkan link video disini..." required></input>
          
              </div>
              <div class="col-12 col-md-8 mx-auto">
              <button  data-toggle="modal" required  href="#myModal" class="btn btn-block btn-lg btn-primary">Download</button>
              </div>
            </div>
            
          

<div class="container">
  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">:judul bos</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <table class="table table-striped">
    <thead>
    <tr>
     <th style="text-align:center">Resolusi</th>
     <th style="text-align:center">Download</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center;">360p</td>
        <td>
            <div class="modal-body">
              <center> <button type="submit"  class="btn btn-sm btn-danger" name = "link" href = "/download_360p">Download </button></center>
              </div>
        </td>
      </tr>
      <tr>
        <td style="text-align: center;">720p</td>
        <td>
            <div class="modal-body">
            <center> <button type = "submit" class = "btn btn-sm btn-danger" id = "link" href = "/download_720p">Download</button></center>
          </div>
            </form>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

      <!-- Modal footer -->

    </div>
  </div>
</div>
        </div>
      </div>
    </div>
  </header>


  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
            <i class="icon-control-play m-auto text-primary"></i>
            </div>
            <h3>Kualitas <i>HD</i></h3>
            <p class="lead mb-0">Putar di segala perangkatmu dengan Kualitas <i>HD!</i></p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-star m-auto text-primary"></i>
            </div>
             <h3>Mendukung mengunduh dari berbagai <i>resource</i> </h3>
            <p class="lead mb-0">Youtube,Instagram,Twitter,dan Facebook!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Mudah digunakan</h3>
            <p class="lead mb-0">Unduh video gratis dengan <i>mudah </i>dan <i>sangat cepat!</i></p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Our team</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{url_for('static',filename = 'img/pic1.jpg')}}" alt="">
            <h5>Marcel Mannuel</h5>
            <p class="font-weight-light mb-0">"not found not found not found not found"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{url_for('static', filename = 'img/pic1.jpg')}}" alt="">
            <h5>Dimas Tirtajasa</h5>
            <p class="font-weight-light mb-0">"not found not found not found not found"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{url_for('static', filename = 'img/pic1.jpg')}}" alt="">
            <h5>Zahra Andila</h5>
            <p class="font-weight-light mb-0">"not found not found not found not found"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="about">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="about">Contact</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; 2bidy. copyright 2021. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
